* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px; /* Undad rem */
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
}